# Formatting

In [37]:
num = 'three'
day = 3
print("I ate {} apples. So I have sicked for {} days".format(num,day))
print("I ate {1} apples. So I have sicked for {0} days".format(num,day))
print("I ate {0} apples. So I have sicked for {0} days".format(num,day))

I ate three apples. So I have sicked for 3 days
I ate 3 apples. So I have sicked for three days
I ate three apples. So I have sicked for three days

In [39]:
#f-string
num = 'three'
day = 3
print(f"I ate {num} apples. So I have sicked for {day} days")

I ate three apples. So I have sicked for 3 days

In [157]:
name = input("이름: ")
age = input("나이: ")
print("나의 이름은 " + name + "이고 나이는 " + age + "세입니다" )
print(f"나의 이름은 {name}이고 나이는 {age}세입니다")

이름:  박지훈
나이:  25

나의 이름은 박지훈이고 나이는 25세입니다
나의 이름은 박지훈이고 나이는 25세입니다

# 파이썬의 자료형
- List: [ ], ordered, changeable
- Tuple: ( ), ordered, unchangeable
- Dictionary: {key:value}, ordered, changeable, 중복 x
- Set: { }, unordered, changeable, 중복 x

## List

In [183]:
#만들기
a = [1,2,3,4, "Hello", "Good Morning", [5,6,7,8]] #nested list: 중첩 리스트
print(a)
print(type(a))

[1, 2, 3, 4, 'Hello', 'Good Morning', [5, 6, 7, 8]]
<class 'list'>

In [184]:
#접근 indexing
print(a[0])
print(a[-1])
print(a[4][0])
print(a[6][2])

1
[5, 6, 7, 8]
H
7

In [185]:
#접근 slicing
print(a[1:3])
print(a[4:])
print(a[:])
print(a[4][2:4])
print(a[5][5:])

[2, 3]
['Hello', 'Good Morning', [5, 6, 7, 8]]
[1, 2, 3, 4, 'Hello', 'Good Morning', [5, 6, 7, 8]]
ll
Morning

In [186]:
#수정
a[1] = 22
print(a)

[1, 22, 3, 4, 'Hello', 'Good Morning', [5, 6, 7, 8]]

In [187]:
#추가
a.append(9)
print(a)

a.insert(2, 33)
print(a)

[1, 22, 3, 4, 'Hello', 'Good Morning', [5, 6, 7, 8], 9]
[1, 22, 33, 3, 4, 'Hello', 'Good Morning', [5, 6, 7, 8], 9]

In [188]:
#삭제
a.remove(33)
print(a)

a.pop(4)
print(a)

[1, 22, 3, 4, 'Hello', 'Good Morning', [5, 6, 7, 8], 9]
[1, 22, 3, 4, 'Good Morning', [5, 6, 7, 8], 9]

In [208]:
# 정렬: sorted() 파이썬 내장함수, .sort() 메소드
s1 = [1,3,2,4]
print(sorted(s1))

s2 = [5,3,7,8]
s2.sort()
print(s2)

[1, 2, 3, 4]
[3, 5, 7, 8]

## Tuple

In [123]:
a = (1,2,3,4)
b = 1,2,3,4
print(type(a))
print(a)
print(type(b))
print(b)

<class 'tuple'>
(1, 2, 3, 4)
<class 'tuple'>
(1, 2, 3, 4)

In [210]:
num = (10,12)
a,b = num
print(a,b)

10 12

## Dictionary

In [217]:
#만들기
a = {'apple' : '사과', 'banana' : '바나나', 'cherry': '체리'}
b = {'apple' : ['사과','백설공주'], 'banana' : '바나나', 'cherry': '체리'}

In [215]:
print(a)
print(type(a))
print(b)
print(type(b))

{'apple': '사과', 'banana': '바나나', 'cherry': '체리'}
<class 'dict'>
{'apple': ['사과', '백설공주'], 'banana': '바나나', 'cherry': '체리'}
<class 'dict'>

In [216]:
#접근
print(a['apple'])
print(a.keys())
print(a.values())
print(a.items())

사과
dict_keys(['apple', 'banana', 'cherry'])
dict_values(['사과', '바나나', '체리'])
dict_items([('apple', '사과'), ('banana', '바나나'), ('cherry', '체리')])

In [219]:
for i in a.items():
    print(i)

('apple', '사과')
('banana', '바나나')
('cherry', '체리')

In [39]:
for i,j in a.items():
    print(i,j)

apple 사과
banana 바나나
cherry 체리

In [220]:
#수정
a['banana'] = '빠나나'
a

{'apple': '사과', 'banana': '빠나나', 'cherry': '체리'}

In [221]:
#추가
a['durian'] = '두리안'
a

{'apple': '사과', 'banana': '빠나나', 'cherry': '체리', 'durian': '두리안'}

In [227]:
a = {'철수' : '합격', '영희': '합격'}

In [229]:
name = input('이름: ')
print(name)
print(f"{a[name]}입니다.")

이름:  철수

철수
합격입니다.

In [231]:
a = [1,2,3]
id(a)

2565802218880

In [233]:
b = a # a의 값도 바뀌어 버린다
c = a.copy() #c = a[:]
b[2] = 300
c[2] = 30
print(a,b,c)

[1, 2, 300] [1, 2, 300] [1, 2, 30]

In [234]:
#a와 b의 id는 일치하고 c는 불일치한다
id(a), id(b), id(c)

(2565802218880, 2565802218880, 2565801741888)

# 조건문 if

In [78]:
if 1>2:
    print("Yes")
else:
    print("no")

no

In [85]:
temp = int(input())
if temp > 25:
    print("여름")
elif temp > 15:
    print("가을")
elif temp > 5:
    print("봄")
else:
    print("겨울")

 27

여름

In [88]:
num = int(input())
if num % 2 == 1:
    print("홀수")
else:
    print("짝수")

 4

짝수

In [90]:
pocket = ['coins', 'bill', 'card']

if 'bill' in pocket:
    print("택시를 타자")
else:
    print("걸어 가자")

택시를 타자

In [237]:
names = ['영희', '전우치', '홍길동', '장길산']
i = input("이름을 입력해 주세요: ")
if i in names:
    print(f"{i}, 합격입니다")
else:
    pass

이름을 입력해 주세요:  전우치

전우치, 합격입니다

# 반복문 for

In [155]:
for i in [1,2,3]:
    print()
    print("Hi")

Hi

Hi

Hi

In [147]:
for i in range(10):
    print(i, end = " ")

0 1 2 3 4 5 6 7 8 9

In [148]:
for i in range(1,11,2):
    print(i, end = " ")

1 3 5 7 9

In [114]:
for i in range(2,11):
    if i % 2 == 0:
        print(i)

2
4
6
8
10

In [115]:
for i in range(2,11,2):
    print(i)

2
4
6
8
10

In [149]:
names = ['철수', '영희', '동현']
for i in names:
    print(i)

철수
영희
동현

In [150]:
for i in range(3):
    print(names[i])

철수
영희
동현

In [129]:
sum = 0
for i in range(234,568):
    sum += i
print(sum)

133767

In [132]:
sum = 0
a = int(input("입력1: "))
b = int(input("입력2: "))
for i in range(a, b+1):
    sum += i
print(sum)

입력1:  50
입력2:  100

3825

In [152]:
a = []
for i in range(20):
    if i % 2 == 1:
        a.append(i)
    else:
        pass
a

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [153]:
#위와 같은 방법
print([i for i in range(1, 20, 2)])
print([i for i in range(20) if i % 2 == 1])

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [154]:
a = [1,2,3,4]
b = []
for i in a:
    b.append(i*3)
print(b)

print([i*3 for i in a])

[3, 6, 9, 12]
[3, 6, 9, 12]

In [146]:
#구구단
for i in range(2,10):
    print()
    print(f'{i}단 입니다')
    for j in range(1,10):
        print(f"{i} x {j} = {i*j}", end = ", ")

2단 입니다
2 x 1 = 2, 2 x 2 = 4, 2 x 3 = 6, 2 x 4 = 8, 2 x 5 = 10, 2 x 6 = 12, 2 x 7 = 14, 2 x 8 = 16, 2 x 9 = 18,
3단 입니다
3 x 1 = 3, 3 x 2 = 6, 3 x 3 = 9, 3 x 4 = 12, 3 x 5 = 15, 3 x 6 = 18, 3 x 7 = 21, 3 x 8 = 24, 3 x 9 = 27,
4단 입니다
4 x 1 = 4, 4 x 2 = 8, 4 x 3 = 12, 4 x 4 = 16, 4 x 5 = 20, 4 x 6 = 24, 4 x 7 = 28, 4 x 8 = 32, 4 x 9 = 36,
5단 입니다
5 x 1 = 5, 5 x 2 = 10, 5 x 3 = 15, 5 x 4 = 20, 5 x 5 = 25, 5 x 6 = 30, 5 x 7 = 35, 5 x 8 = 40, 5 x 9 = 45,
6단 입니다
6 x 1 = 6, 6 x 2 = 12, 6 x 3 = 18, 6 x 4 = 24, 6 x 5 = 30, 6 x 6 = 36, 6 x 7 = 42, 6 x 8 = 48, 6 x 9 = 54,
7단 입니다
7 x 1 = 7, 7 x 2 = 14, 7 x 3 = 21, 7 x 4 = 28, 7 x 5 = 35, 7 x 6 = 42, 7 x 7 = 49, 7 x 8 = 56, 7 x 9 = 63,
8단 입니다
8 x 1 = 8, 8 x 2 = 16, 8 x 3 = 24, 8 x 4 = 32, 8 x 5 = 40, 8 x 6 = 48, 8 x 7 = 56, 8 x 8 = 64, 8 x 9 = 72,
9단 입니다
9 x 1 = 9, 9 x 2 = 18, 9 x 3 = 27, 9 x 4 = 36, 9 x 5 = 45, 9 x 6 = 54, 9 x 7 = 63, 9 x 8 = 72, 9 x 9 = 81,

# While문
for문과 다르게 반복의 횟수가 정해져 있지 않을때 사용한다

In [114]:
i = 0
while i < 10:
    print(i, end =",")
    i += 1

0,1,2,3,4,5,6,7,8,9,

In [113]:
#break
import time
i = 0
while True:
    print(i, end =",")
    i += 1
    time.sleep(1)
    if i == 5:
        break
        
print("끝")

0,1,2,3,4,끝

In [135]:
#1부터 10까지의 합
sum = 0
i = 1

while i <= 10:
    sum += i
    i += 1
    
print(sum)

55

In [136]:
#1부터 10까지의 3의 배수의 합
sum = 0
i = 1

while i <= 10:
    if i % 3 == 0:
        sum += i
    else:
        pass
    i += 1

print(sum)

18

In [156]:
#3의 배수가 아닌 수들의 합 (0부터 10까지)
i = 0
sum = 0

while i < 10:
    i += 1
    if i % 3 == 0:
        continue
    else:
        sum += i
print(sum)

37

In [55]:
import random

random.randint(1,10)

5

In [162]:
#7보다 작은수들의 합
sum = 0

while True:
    i = random.randint(1,10)
    if i > 7:
        break
    else:
        print(i)
        sum += i
        
print(sum)

6
6
5
2
5
24

In [119]:
#3의 배수 또는 5의 배수의 합 (1부터 10까지)
sum = 0
i = 0

while i < 10:
    i += 1
    if i % 3 == 0 or i % 5 == 0:
        sum += i
    else:
        pass
    
print(sum)

33