# 함수
```
def 함수이름( , ):
    실행할 문장
    return 변수
```

In [26]:
def add(a, b):
    c = a + b
    return c

add(3,5)

8

In [27]:
#입력받은 것을 2배해서 내놓는 함수
def double(a):
    b = a*2
    return b

double(6)

12

In [24]:
#입력값이 없는 경우
def add():
    a = 10
    b = 20
    return a + b

add()

30

In [28]:
#홀수이면 2배, 짝수이면 나누기 2를 해서 리턴하는 함수
def odd_even(a):
    if a % 2 == 0:
        return a/2
    else:
        return a*2
    
odd_even(9)

18

In [30]:
#리턴값이 2개 이상인 경우 (결과값은 무조건 하나이다. Tuple로 묶어서 내보낸다)
def add():
    a = 10
    b = 20
    return a + b, a - b

print(add())
c, d = add()
print(c)
print(d)

(30, -10)
30
-10

In [34]:
#기본값이 있는 경우, 기본값은 맨뒤에서만 할 수 있다
def add(a, b, c = 100):
    result = a + b + c
    return result

add(10,20)

130

In [35]:
#입력값이 여러개인 경우
def add(*args):
    sum = 0
    for i in args:
        sum += i
    return sum
add(5,1,5,4,8)

23

In [36]:
#1부터 입력받은 수까지의 합
def add(a):
    sum = 0
    for i in range(1, a+1):
        sum += i
    return sum
add(5)

15

In [37]:
def add(a,b):
    sum = 0
    for i in range(a, b+1):
        sum += i
    return sum
add(2,5)

14

In [94]:
#함수로 dictionary 데이터타입 만들기
def kw_test(**kwargs):
    return kwargs
    
kw_test(a=1, b=2, c = 3)

{'a': 1, 'b': 2, 'c': 3}

In [102]:
def myself(name, age):
    return f"나의 이름은 {name}이고 나이는 {age}세입니다"
myself('박지훈', 25)

'나의 이름은 박지훈이고 나이는 25세입니다'

In [15]:
#global변수는 함수안에서나 밖에서나 둘다 쓸수 있다. 하지만 local 변수는 함수식 안에서만 사용 가능하다
d = 5 #global: 전역변수
def add(a, b):
    f = a + b #local: 지역변수
    return f + d

add(2,3)

10

In [42]:
#lambda 함수
f = lambda a, b: a+b
f(1,2)

3

In [43]:
#lambda 함수2
(lambda a, b: a+b)(1,2)

3

In [25]:
#재귀함수
import time
def hello(a):
    if a == 0:
        return
    print("안녕하세요")
    time.sleep(1)
    a -= 1
    hello(a)
    
hello(5)

안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요